.main-container {
    height: 100vh;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

.button-container {
    height: 200px;
    width: 250px;
    text-align: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    .card-container {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    .card-container {
        width: 95%;
        height: 100vh;
    }
}

@media screen and (max-width: 730px){
    .card-container {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        margin-top: 10px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 650px){
    .card-container {
        display: flex;
        flex-direction: column;

    }
}