.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(169, 224, 185, 0.8), rgba(114, 136, 215, 0.8)),url("https://images.unsplash.com/photo-1517400508447-f8dd518b86db?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
}

/*
COLOR CODES
- green: rgba(126, 240, 153, 1)
-blue: rgba(11, 84, 183, 1)
*/